<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="../Css/styles.css">
  <title>Secretaria</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="logo">
      <a class="navbar-brand" href="#">ACME</a>
    </div>

    <div class="recordatorio">
      <a class="navbar-brand" href="#">Facturación </a>
    </div>

    <div class="sec">
      <a class="navbar-brand" href="secretaria-menu.html">Secretaria </a>
    </div>

    <div>
      <a class="navbar-brand" href="index.html">Cerrar Sesión </a>

    </div>

  </nav>
  <form class="formulario-historial-clinico" style="margin-right: 20em ;margin-left: 30em ;">
    <div style="display:flex">
      <div>
        <h2>Datos de Facturación </h3>
          <div style="display:flex;margin-top:2em">
            <div style="margin-right:1em">
              <select onchange="cambiarTipoId()" id="selectTipoIdField" name="select" style="margin-top:4%"></select>
            </div>
            <div>
              <input id="clienteID" style="width:28.5em" type="text" placeholder="Número de identificación">
            </div>


          </div>
          <div>
            <div style="margin-top: 2em;">
              <input id="textNombreCliente" type="text" placeholder="Nombres">
              <input id="textApellidoCliente" type="text" placeholder="Apellidos">

            </div>
            <div class="datos-paciente">
              <input id="textDireccionCliente" class="data-paciente" type="text" placeholder="Dirección de Residencia">

            </div>
            <div class="datos-paciente">
              <input id="textNumeroCelularCliente" class="data-paciente" type="text" placeholder="Número de Celular ">

            </div>
            <div class="datos-paciente">
              <input id="textNumeroCorreoCliente" class="data-paciente" type="text" placeholder="Correo Electrónico">

            </div>

            <div style="margin-top:6em">
              <button onclick="generarFacturacion()" type="button" class="btn btn-secondary" style="width:40%">Generar Factura</button>
            </div>
          </div>

      </div>



    </div>


    <table class="table table-striped table-light" style="width:95%;border:1px solid;margin-top:5em ; ">

      <thead>
        <tr>
          <th scope="col">Codigo de servicio</th>
          <th scope="col">Nombre del sercicio</th>
          <th scope="col">Descripción</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Precio</th>
        </tr>
      </thead>

      <tbody>

        <tr>
          <td id="codigoServicio"></td>
          <td id="nombreServicio"></td>
          <td id="descripcion"></td>
          <td id="precio"></td>
        </tr>

      </tbody>

    </table>
    <form action="" style="margin-left: 92.2em ;margin-top: 1em;margin-bottom: 4em;">
      Total
      <input type="text">
    </form>
  </form>
  </form>




  <script src="../Js/Secretaria/Facturacion.js"></script>

</body>

</html>