eader{
    color:#f7f7f7;
    
}
.navbar-brand{
    font-size: 1.5em;
    
    
}
.logo{
    margin: 3em;
}
.recordatorio{
    margin-right: 50em;
}
.sec{
    margin-right:7em;
}
.form-buscar{
    margin-left:3em;
    margin-top :3em;
    margin-bottom :3em;
}
.Buscador{
    width: 45em;
    height: 3em;
    display: flex;
    flex-direction: row;
}
.contenedor-buscador{
    display:flex;
    margin-right:7em;
    

}
.busca{
    width:90%;
    height: 100%;
    height:3em;
    border:none;
    border: 1px solid black;
}
.lupita{
    width:4.25em;
    height:100%;
}
.menu-container{
    display:flex;
}
.card{
    width:30em;
    height:20em;
    margin:3em;
    text-align:center;
    padding-top:10%;
    font-size:1.5em;
    
}
a{
    text-decoration: none;
    
}
.card:hover {
    background-color:  #292b2c ;
  }
.formulario-historial-clinico{
    border: 0.1em  #292b2c solid;
    margin-top:5em;
    margin-left:15em;
    margin-right:15em;
    padding:5em;
}

.datos-paciente{
    margin-top:2em;
    

}
.data-paciente{
    width:100%;
}
    
.formulario-gestion-elementos{
    border: 0.1em  #292b2c solid;
    margin-top:5em;
    margin-left:15em;
    margin-right:15em;
    margin-bottom:5em;
    padding:5em;

}