<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../Css/styles.css">
    <title>Profesional</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="logo">
            <a class="navbar-brand" href="#">ACME</a>
        </div>
        
        <div class="recordatorio">
            <a class="navbar-brand" href="#">Diagnostico </a>
        </div>

        <div class="sec">
            <a class="navbar-brand" href="profesional-menu.html">Profesional </a>
        </div>
        
        <div>
            <a class="navbar-brand" href="index.html">Cerrar Sesión </a>

        </div>
        <div>

        </div>
    </nav>
    <style>

    </style>
    <form action="" class="formulario-historial-clinico">
      
      <div>
        <div class="datos-paciente">
          <input type="text" placeholder="Peso" class="data-paciente" >
        </div>
        <div class="datos-paciente">
          <input type="text" placeholder="Presión Arterial" class="data-paciente">
        </div>
        <div class="datos-paciente">
          <input type="text" placeholder="Diagnostico" class="data-paciente">
        </div>
        <div class="datos-paciente">
          <input type="text" placeholder="datos médicos" class="data-paciente" >
        </div>
        <div class="datos-paciente">
          <input type="text" placeholder="servicios Requeridos" class="data-paciente">
          <input type="submit" placeholder="servicios Requeridos" class="data-paciente" value="Añadir">
        </div>
        <div class="datos-paciente">
          <input type="text" placeholder="Numero de sesiones recomendadas" class="data-paciente">
        </div>
        <input type="submit" placeholder="servicios Requeridos" class="data-paciente" value="Enviar">
        

      </div>
        
        

    </form>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
